.SoM {
  position: fixed;
  z-index: 2147483646;
  pointer-events: none;
}

.SoM > label {
  position: absolute;
  padding: 0 3px;
  font-size: 12px;
  font-weight: bold;
  line-height: 18px;
  white-space: nowrap;
}
